* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: grey;
    font-family: Helvetica, Arial, sans-serif;
}

.flex-container {
    display:flex;
    width: 100%;
    justify-content: center;
    position: relative;
}

/* HEADER SECTION */
header {
    position: -webkit-sticky;
    padding: 20px 35px;
    background-color: beige;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
header h1 {
    font-weight: bold;
    font-size: 36px;
    color: black;
    margin: 0;
    display: inline;
}

header a {
    text-decoration: none;
    color: black;
}


header nav {
    margin: 7px 0;
}
header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
}

/* HERO SECTION */
.hero {
    background-image: url("../images/photo-1597245877446-bebd50889c61.jpeg");
    background-size: cover;
    background-position: center;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    background-position: 80%;
}

.hero-cta {
    width: 35%;
    text-align: right;
    margin: 3.5%;
    font-size: 18px;
    line-height:1.2;
}

.hero h2 {
    font-family: Helvetica;
    font-weight: heavy;
    font-size: 55px;
}

/* SECTION STYLES */
.section-title {
    font-size:48px;
    border-bottom: 3px solid;
    padding-bottom: 20px;
    text-align: left;
    margin: 0 auto 35px auto;
    /* width: 75%; */
}
.flex-row {
    display: flex;
}

/* ABOUT ME SECTION */
.aboutMe {
    background-color: beige;
    padding: 50px 0 50px 0;
}

.about {
    margin: 50px auto;
    padding-bottom: 50px;
    width:100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.about-info {
    flex: 2 70%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.about-img {
    flex: 1 12%;
    margin-right: 20px;
}
.about-img img {
    max-width: 100%;
}

.about-text {
    flex: 12;
}

.aboutMe p {
    display: flex;
    line-height:1.7;
    width: 80%;
    font-size: 20px;
    margin: 0 auto;
    text-align: center;
}

/* WORK SECTION */
.workSection {
    /* background-color: beige; */
    padding: 50px 0 50px 0;
}
.list-of-work {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.proj-img {
    width: 100%;
    min-height: 300px;
    display: flex;
    padding: 15px;
    align-items: flex-end;
    background-size: cover;
}

.work-text-container {
    width: auto;
    min-height: auto;
    display: flex;
    padding: 15px;
    align-items: flex-end;
    background-size: cover;
    background-color: beige;
}

.work-text-container h3 {
    position: relative;
    font-size: 30px;
    margin: 0 auto;
    text-align: left;
    margin-bottom: 3px;
    flex-wrap: wrap;
}
.work-text-container h4 {
    position: relative;
    font-size: 25px;
    margin: 0 auto;
    text-align: left;
    flex-wrap: wrap;
}

.work-grid-item a {
    text-decoration: none;
    color: black;
}

.portfolio-img {
    background-image: url("../images/Portfolio.png");
    background-size: cover;
    width: 100%;
    height: 100%;
    position: relative;
}
.horiseon-img {
    background-image: url("../images/Horiseon.png");
    background-size: cover;
    width: 100%;
    height: 100%;
    position: relative;
}

.ngc-img {
    background-image: url("../images/workplace.jpeg");
    background-size: cover;
    width: 100%;
    height: 100%;
    position: relative;
}
.nba-img {
    background-image: url("../images/basketball.jpeg");
    background-size: cover;
    width: 100%;
    height: 100%;
    position: relative;
}
.work-grid-wrapper {
    display:flex;
    width: 100%;
    justify-content: center;
    position: relative;
}

.work-grid-container {
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    font-size: 1.2rem;
}

.work-grid-item {
    margin: 10px 10px 10px 10px;
    display: flex;
    justify-content: center; 
    position: relative;
    align-items: flex-end;
    background-size: cover;
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
    
}

.run-buddy-img {
    background-image: url("../images/RunBuddy.png");
    background-size: cover;
    width: 100%;
    height: 100%;
    position: relative;
}

.run-buddy-img::after {
    content:"";
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(252, 225, 56, 0.3),#024e76);
    position: absolute;
    opacity: 0;
}

.work-grid-item:hover .run-buddy-img::after {
    opacity: 1;
}

.portfolio-img::after {
    content:"";
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(252, 225, 56, 0.3),#024e76);
    position: absolute;
    opacity: 0;
}

.work-grid-item:hover .portfolio-img::after {
    opacity: 1;
}

.horiseon-img::after {
    content:"";
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(252, 225, 56, 0.3),#024e76);
    position: absolute;
    opacity: 0;
}

.work-grid-item:hover .horiseon-img::after {
    opacity: 1;
}

.ngc-img::after {
    content:"";
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(252, 225, 56, 0.3),#024e76);
    position: absolute;
    opacity: 0;
}

.work-grid-item:hover .ngc-img::after {
    opacity: 1;
}

.nba-img::after {
    content:"";
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(252, 225, 56, 0.3),#024e76);
    position: absolute;
    opacity: 0;
}

.work-grid-item:hover .nba-img::after {
    opacity: 1;
}
.work-grid-item.run-buddy {
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
}

.work-grid-item.portfolio {
    grid-column: 3;
    grid-row: 1;
}

.work-grid-item.horiseon {
    grid-column: 1;
    grid-row: 3;
}

.work-grid-item.ngc {
    grid-column: 2;
    grid-row: 3;
}

.work-grid-item.nba {
    grid-column: 3;
    grid-row: 2;
}


/* CONTACT ME SECTION */
.contactMe {
    background-color: beige;
    padding: 50px 0 50px 0;
}
.contacts {
    margin: 7px 0;
    padding: 5px 0px 5px 0px;
}
.contacts ul {
    margin: 7px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    list-style: none;

}
.contacts ul li  {
    padding: 5px 8px;
    font-weight: lighter;
    font-size: 1.55vw;
    /* border-bottom: 1px solid; */
}

.contacts a {
    text-decoration: none;
    color: black;
}

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
    header {
        padding-bottom: 0;
        justify-content: center;
        position: relative;
    }
    header h1 {
        width: 100%;
        text-align: center;
    }
    header nav ul li a {
        margin-top: 20px;
        width: 100%;
        justify-content: center;
        font-size: 20px;
    }

    .section-title {
        width: 80%;
    }

    .work-grid-wrapper {
        width: 5%;
    }
    .work-grid-container {
       width: 60%;
    }
    .work-grid-item {
        margin: 2px 2px 2px 2px;
    }
    
    .contacts nav ul li {
        margin-top: 20px;
        width: 100%;
        justify-content: center;
        font-size: 20px;
    }
}

/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {
    body {
        width: auto;
    }

}