* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: grey;
    font-family: Helvetica, Arial, sans-serif;
}

/* HEADER SECTION */
header {
    position: -webkit-sticky;
    padding: 20px 35px;
    background-color: beige;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
header h1 {
    font-weight: bold;
    font-size: 36px;
    color: black;
    margin: 0;
    display: inline;
}

header a {
    text-decoration: none;
    color: black;
}
header nav {
    margin: 7px 0;
}
header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
}

/* HERO SECTION */
.hero {
    background-image: url("../images/photo-1597245877446-bebd50889c61.jpeg");
    background-size: cover;
    background-position: center;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    background-position: 80%;
}

.hero-cta {
    width: 35%;
    text-align: right;
    margin: 3.5%;
    font-size: 18px;
    line-height:1.2;
}

.hero h2 {
    font-family: Helvetica;
    font-bold: bold;
    font-size: 55px;
}